alembic==1.7.4
aniso8601==7.0.0
anyio==3.3.4
asgiref==3.4.1
bcrypt==3.2.0
black==21.10b0
cffi==1.15.0
click==8.0.3
fastapi==0.70.0
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.1.2
h11==0.12.0
idna==3.3
Mako==1.1.5
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
promise==2.3
psycopg2-binary==2.9.1
pycparser==2.20
pydantic==1.8.2
PyJWT==2.3.0
python-dotenv==0.19.1
regex==2021.10.23
Rx==1.6.1
singledispatch==3.7.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.26
starlette==0.16.0
tomli==1.2.2
typing-extensions==3.10.0.2
uvicorn==0.15.0
